@font-face {
  font-family: 'SF-Pro';
  src: url('../fonts/SF-Pro.ttf');
  font-style: normal;
  font-weight: 400;
}

.web-cover {
  display: flex;
  color: white;
  height: 100vh;
  background-image: url('../images/mix.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.city-details-container {
  display: flex;
  align-items: flex-end;
  font-family: 'SF-Pro' sans-serif;
  margin-bottom: 10vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, );
}

.temp-sup {
  font-size: 150px;
}

.city-temp {
  font-size: 200px;
  margin-bottom: 0;
  align-self: flex-end;
}

.city-more-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0;
  margin-bottom: 3vh;
}

.date {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 5px;
  /* adjust margin to create spacing */
  width: max-content;
  text-align: center;
  /* center the date text */
  color: rgb(220, 220, 220);
}

.city-location {
  font-size: 100px;
  margin-bottom: 0;
}

.input {
  flex: 0.5;
  /* background-color: rgba(9, 9, 9, 0.5); */
  backdrop-filter: blur(2vh) brightness(70%);
  height: 100vh;
  padding: 5rem;
  font-size: 24px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.search-input {
  margin-top: 2vh;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 28px;
  width: 100%;
  height: 7vh;
  margin-bottom: 0;
  padding: .5rem;
}

.underscore {
  margin: 0;
  border-color: gray;
}

.CityCard-card-container {
  margin-top: 10vh;
  gap: 2rem;
}

.CityCard-card {
  color: gray;
  margin-bottom: 2.5vh;
}

.CityCard-card:active {
  color: white;
}

.weather-details-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.weather-details-list-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d4d4d4;
  margin-bottom: 2.5vh;
}

.weather-details-cover {
  margin-top: 10vh;
}

.weather-details-title {
  margin: 5vh 0vh;
}


.weather-icon-container {
  display: block;
  margin-left: 2vh;
  margin-bottom: 3vh;
}

.weather-description {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 5px;
  width: max-content;
  text-align: center;
  color: rgb(220, 220, 220);
}


@media only screen and (max-width: 1200px) {
  .web-cover {
    height: auto;
    min-height: 100vh;
  }

  .image {
    justify-content: center;
  }

  .input {
    height: auto;
    min-height: 100vh;
    width: auto;
    padding: 3rem;
    font-size: 22px;
  }

  .temp-sup {
    font-size: 50px;
  }

  .city-temp {
    font-size: 75px;
  }

  .city-more-info {
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .date {
    width: auto;
    font-size: 20px;
    margin-bottom: 2vh;
  }

  .city-location {
    font-size: 32px;
  }

  .CityCard-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
  }

  .CityCard-card {
    margin-top: 2vh;
  }

  .weather-details-title {
    font-size: 20px;
  }

  .weather-details-list-element {
    margin-bottom: 1vh;
  }

  .weather-icon-container {
    margin-left: 1vh;
    margin-bottom: 1vh;
  }

  .weather-description {
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .web-cover {
    height: auto;
    min-height: 100vh;
  }

  .image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .city-details-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
  }

  .temp-sup {
    font-size: 75px;
  }

  .city-temp {
    font-size: 100px;
  }

  .date {
    font-size: 15px;
    margin-bottom: 2vh;
    width: auto;
  }

  .city-location {
    font-size: 50px;
    margin-top: 2vh;
    margin-bottom: 5vh;
  }

  .input {
    height: auto;
    min-height: 100vh;
    padding: 3rem;
    font-size: 18px;
  }

  .search-input {
    font-size: 20px;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .CityCard-card-container {
    margin-top: 5vh;
  }

  .CityCard-card {
    font-size: 18px;
    margin-bottom: 1vh;
  }

  .weather-details-title {
    margin: 3vh 0;
  }

  .weather-description {
    font-size: 16px;
    margin-bottom: 2vh;
  }
}