.web-cover {
  display: flex;
  color: white;
  height: 100vh;
  background-image: url('../images/mix.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image {
  flex: 1;
}

.input {
  flex: 0.5;
  /* background-color: rgba(9, 9, 9, 0.5); */
  backdrop-filter: blur(2vh) brightness(70%);
  height: 100vh;
  padding: 5rem;
  font-size: 26px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.search-input {
  margin-top: 2vh;
  color: white;
  border: none;
  background-color: transparent;
  width: 20vh;
  height: 2vh;
  margin-bottom: 0;
}
.search-underscore{
  margin: 0;
}

.CityCard-card-container {
  margin-top: 10vh;
}

.CityCard-card {
  color: gray;
}

.CityCard-card:active {
  color: white;
}