@font-face {
  font-family: 'Kong script', 'SF PRO', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  src: url('../fonts/KongScript-Regular.ttf');
}

.web-cover {
  display: flex;
  color: white;
  height: 100vh;
  background-image: url('../images/mix.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.city-details-container {
  display: flex;
}

.city-temp {
  font-size: 50px;
  margin-right: 1vh;
}

.city-details {
  font-family: 'Kong script';
  font-size: 36px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  /* add text shadow for better visibility */
  padding: 20px;
  /* add padding to make the element look less cramped */
}


.input {
  flex: 0.5;
  /* background-color: rgba(9, 9, 9, 0.5); */
  backdrop-filter: blur(2vh) brightness(70%);
  height: 100vh;
  padding: 5rem;
  font-size: 26px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.search-input {
  margin-top: 2vh;
  color: white;
  border: none;
  background-color: transparent;
  width: 20vh;
  height: 2vh;
  margin-bottom: 0;
}

.search-underscore {
  margin: 0;
}

.CityCard-card-container {
  margin-top: 10vh;
}

.CityCard-card {
  color: gray;
}

.CityCard-card:active {
  color: white;
}